.title {
  color: #202329;

  font-family: var(--font-body);
  font-size: 101.25px;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;

  position: relative;
  top: 116px;
}

.iconHero {
  background-color: #fff;
}
